{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "globals": {
    "chrome": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
